body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
    border: 2px solid black;
    margin-right: 10px;
}

nav {
    margin-left: auto;
}

nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 2px solid black;
}

nav a.active {
    background-color: #04aa6d;
    color: white;
}

main {
    padding: 20px;
}

#welcome {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid black;
}

#content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.content-block {
    width: 45%;
    text-align: center;
}

.content-block div {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid black;
}

#video iframe {
    width: 100%;
    height: 500px;
    border: 2px solid black;
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    border: 2px solid black;
}
